.nav-ico {
    width: 50px;
}

.nav-border {
    border-bottom: 1px solid #f0f2f7;
}

.login-header {
    margin: 20px auto;
    width: 500px;
    text-align: center;
}

.login-header a {
    font-size: 40px;
    text-decoration: none;
    color: #c9cfd8;
}

.img-limit {
    height: 100px;
    width: 100px;
}

.index-marin {
    margin-top: 20px;
}

.index-main-left {
    width: 15%;
}

.index-main-right {
    width: 50%;
}

.index-classify a {
    color: #667c99;;
}

.index-classify a img {
    width: 20px;
}

.index-post-list * {
    padding: 0;
}

.publish-main {
    width: 90%;
}

.publish-title {
    width: 633px;
}

.index-p :hover {
    border-radius: 5px;
    background: #f3f6f9;
}

.index-post-title-span {
    max-width: 20em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.topic-title {
    text-align: center;
    height: 100px;
    color: #667c99;;
    background-color: #e8ecf3;
    padding-top: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.topic-tags {
    margin-left: 100px;
}

.topic-left {
    width: 60%;
}

.topic-right {
    width: 15%;
    position: fixed;
    top: 30%;
    left: 85%;
}

.topic-comment-reply {
    width: 200px;
    height: 1em;
}

.topic-comment-box {
    padding: 10px;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

.topic-right-button {
    width: 120px;
}

.search-main {
    width: 100%;
}

.search-content {
    width: 60%;
}

.personal-page {
    width: 100%;
}

.personal-page-main {
    width: 75%;
}

.personal-page-user {
    width: 100%;
    height: 150px;
    background-color: rgb(228, 219, 213);
}

.personal-page-user-content {
    width: 40%;
    padding-top: 30px;
}

.nav-font-size {
    font-size: 16px;
}

.recommend-main {
    width: 100%;
}

.recommend-content {
    width: 65%;
}