<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>云课</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <script th:src="@{/js/jquery-3.5.0.min.js}"></script>
    <script th:src="@{/js/uikit.js}"></script>
    <script th:src="@{/js/uikit-icons.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" th:href="@{/css/uikit.css}">
    <link rel="stylesheet" th:href="@{/css/uikit-rtl.css}">
    <link rel="stylesheet" th:href="@{/css/cloudlesson.css}">

</head>
<body>
<!--导航栏-->
<div th:replace="~{navigation::nav}"></div>
<div class="uk-flex uk-flex-center uk-margin-medium-top">
    <div class="index-main-left">
        <ul class="uk-list uk-link-text index-classify">
            <li class="index-classify">
                <a th:href="@{/}">
                    <img class="uk-margin-small-right" th:src="@{/icon/all.png}" alt="">
                    全部主题
                </a>
            </li>
        </ul>
        <div class="uk-divider-small"></div>
        <ul class="uk-list uk-link-text index-classify">
            <li class="uk-margin-bottom">
                <a onclick="tag(this)" data-tag="Java">
                    <img class="uk-margin-small-right" th:src="@{/icon/java.png}" alt="">
                    Java
                </a>
            </li>
            <li class="uk-margin-bottom">
                <a onclick="tag(this)" data-tag="Python">
                    <img class="uk-margin-small-right" th:src="@{/icon/python.png}" alt="">
                    Python
                </a>
            </li>
            <li class="uk-margin-bottom">
                <a onclick="tag(this)" data-tag="Cpp">
                    <img class="uk-margin-small-right" th:src="@{/icon/c.png}" alt="">
                    C/C++
                </a>
            </li>
            <li class="uk-margin-bottom">
                <a onclick="tag(this)" data-tag="Javascript">
                    <img class="uk-margin-small-right" th:src="@{/icon/JavaScript.png}" alt="">
                    Javascript
                </a>
            </li>
            <li class="uk-margin-bottom">
                <a onclick="tag(this)" data-tag="WEB开发">
                    <img class="uk-margin-small-right" th:src="@{/icon/web.png}" alt="">
                    WEB开发
                </a>
            </li>
            <li class="uk-margin-bottom">
                <a onclick="tag(this)" data-tag="Android">
                    <img class="uk-margin-small-right" th:src="@{/icon/android.png}" alt="">
                    Android
                </a>
            </li>
            <li class="uk-margin-bottom">
                <a onclick="tag(this)" data-tag="IOS">
                    <img class="uk-margin-small-right" th:src="@{/icon/ios.png}" alt="">
                    IOS
                </a>
            </li>
            <li class="uk-margin-bottom">
                <a onclick="tag(this)" data-tag="Linux">
                    <img class="uk-margin-small-right" th:src="@{/icon/linux.png}" alt="">
                    Linux
                </a>
            </li>
            <li class="uk-margin-bottom">
                <a onclick="tag(this)" data-tag="工具利器">
                    <img class="uk-margin-small-right" th:src="@{/icon/tool.png}" alt="">
                    工具利器
                </a>
            </li>
            <li class="uk-margin-bottom">
                <a onclick="tag(this)" data-tag="安全技术">
                    <img class="uk-margin-small-right" th:src="@{/icon/security.png}" alt="">
                    安全技术
                </a>
            </li>
        </ul>
        <input id="tag" type="text" hidden="hidden" value="">
    </div>
    <div class="index-main-right">
        <div class="uk-button-group">
            <button id="option" class="uk-button uk-button-default uk-button-small">最新主题</button>
            <div class="uk-inline">
                <button class="uk-button uk-button-default uk-button-small" type="button"><span
                        uk-icon="icon:  triangle-down"></span>
                </button>
                <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;"
                     style="min-width:139px;">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-nav-header"><a onclick="recent()">最近回复</a></li>
                        <li class="uk-nav-header"><a onclick="mostReply()">最多回复</a></li>
                        <li class="uk-nav-header"><a onclick="mostView()">最多点击</a></li>
                        <li class="uk-nav-header"><a onclick="newest()">最新主题</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="ps-list">
            <th:block th:if="${postList.size()>0}">
                <input id="pagenum" type="text" th:value="${postList.get(0).presentPageNum+1}" hidden>
                <div name="topic" th:each="topic:${postList}" class="index-p uk-margin-top">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tbody>
                        <tr>
                            <td width="60" valign="top" align="center">
                                <a th:href="@{'/u/'+${topic.authorId}}">
                                    <img width="60" height="60" th:src="${topic.authorAvatar}" alt=""></a>
                            </td>
                            <td width="10"></td>
                            <td width="auth" valign="middle">
                                <a th:href="@{'/t/'+${topic.id}}" class="uk-link-heading"> <span
                                        th:text="${topic.title}"></span>
                                </a>
                                <div height="5px"></div>
                                <span class="index-topic-title-span uk-text-small uk-text-muted uk-align-right"
                                      style="margin-bottom: 0">
                            <img src="http://q9p1v1fsb.bkt.clouddn.com/tags.png" alt=""
                                 width="15">
                            <span th:text="${topic.tags}"></span>
                        </span>
                                <span class="uk-text-small uk-text-muted">
                            <span th:text="${topic.info}"></span>
                            <img src="http://q9p1v1fsb.bkt.clouddn.com/view.png" alt="" width="15">
                            <span th:text="${topic.viewCount}"></span>
                            <img src="http://q9p1v1fsb.bkt.clouddn.com/connent.png" alt="" width="15">
                            <span th:text="${topic.replyCount}"></span>
                        </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </th:block>

        </div>
        <button id="more" class="uk-button uk-button-default uk-align-center" onclick="more()">查看更多
        </button>
    </div>
</div>
</body>
</html>