<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${topic.title}">云课</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <script th:src="@{/js/jquery-3.5.0.min.js}"></script>
    <script th:src="@{/js/uikit.js}"></script>
    <script th:src="@{/js/uikit-icons.js}"></script>
    <script th:src="@{/js/topic.js}"></script>
    <link rel="stylesheet" th:href="@{/css/uikit.css}">
    <link rel="stylesheet" th:href="@{/css/uikit-rtl.css}">
    <link rel="stylesheet" th:href="@{/css/cloudlesson.css}">
    <!--markdown-->
    <link rel="stylesheet" th:href="@{/css/editormd.preview.min.css}">
    <script th:src="@{/js/editormd.min.js}"></script>
    <script th:src="@{/js/lib/marked.min.js}"></script>
    <script th:src="@{/js/lib/prettify.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/editormd.min.css}">
</head>
<body>
<!--导航栏-->
<div th:replace="~{navigation::nav}"></div>
<div class="uk-align-center topic-title">
    <div class="uk-article-title" th:text="${topic.title}"></div>
    <div class="topic-tags uk-article-meta">
        <span>
            <img alt="" src="http://qbppo2eal.bkt.clouddn.com/tags.png" width="17">
        </span>
        <span th:text="${topic.tags}">
        </span><input type="text" id="topic-id" th:value="${topic.id}" hidden>
    </div>
</div>
<div class="uk-flex uk-flex-center" style="width: 100%">
    <div class="topic-left uk-margin-small-top">
        <article class="uk-article uk-padding-small">
            <a class="uk-link-reset" th:href="'/yunke/u/'+${topic.authorId}">
                <img style="width: 70px;height: 70px" th:src="${topic.authorAvatar}">
                <span class="uk-text-emphasis" th:text="${topic.authorName}"></span>
            </a>
            <span class="uk-text-small" th:text="${'发布于'+topic.createDate}"></span>
            <span class="uk-text-small" th:if="${topic.modifyDate!=null}" th:text="${'最后修改于'+topic.modifyDate}"></span>
            <hr>
            <div th:if="${topic.videoLink!=null}">
                <video th:src="${topic.videoLink}" width="640" height="460" controls="controls"></video>
                <hr>
            </div>
            <div id="topic-content">
                <label>
                    <textarea style="display:none;" th:text="${topic.content}">

                    </textarea>
                </label>
            </div>
            <script type="text/javascript">
                $(function () {
                    editormd.markdownToHTML("topic-content", {});
                });
            </script>
        </article>
        <hr>

        <div class="topic-comment-box" th:each="comment:${comments}">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td align="center" valign="top" width="60"><img alt="" class="uk-border-rounded`"
                                                                    style="width: 70px;height: 70px"
                                                                    th:src="${comment.accountAvatar}"></td>
                    <td width="10" valign="top"></td>
                    <td>
                        <div class="uk-align-right">
                            <a class="uk-link-muted" href="#comment-main" th:data-id="${comment.accountId}"
                               th:data-name="${comment.accountName}" onclick="reply(this)">
                                <span uk-icon="reply"></span>
                            </a>
                        </div>
                        <a class="uk-link-muted uk-text-normal" th:href="@{'/u/'+${comment.accountId}}"
                           th:text="${comment.accountName}"></a>
                        <span class="uk-text-meta" th:text="${comment.replyDate}"></span>
                        <div>
                            <p>
                                    <span th:if="${comment.atAccountName!=null}">
                                        <a th:href="@{'/u/'+${comment.atAccountId}}"
                                           th:text="${'@'+comment.atAccountName}">

                                        </a>
                                    </span>
                                <span th:text="${comment.content}"></span>
                            </p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="comment-main" class="uk-margin" sec:authorize="isAuthenticated()">
            <textarea id="comment-content" class="uk-textarea" rows="5" placeholder="输入回复内容..."></textarea>
            <button class="uk-button uk-button-primary uk-margin-small-top uk-align-right topic-right-button"
                    onclick="replySubmit()">
                回复
            </button>
        </div>
        <div class="uk-margin" sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">登录后即可回复</a>
        </div>
    </div>

    <div class="topic-right uk-margin-small-top" sec:authorize="isAuthenticated()">
        <div>
            <a href="#comment-main"
               class="uk-button uk-button-primary uk-text-bold uk-border-rounded topic-right-button">回复</a>
        </div>
        <div class="uk-margin-small-top">
            <button th:id="attention" th:if="${!isAttention}"
                    class=" uk-button uk-button-primary uk-text-bold uk-border-rounded topic-right-button"
                    onclick="attention(this)" th:data-topic-id="${topic.id}" data-type="0" title="点击关注">
                关注
            </button>
            <button th:id="attention" th:if="${isAttention}"
                    class="uk-button uk-button-primary uk-text-bold uk-border-rounded topic-right-button"
                    onclick="attention(this)" th:data-topic-id="${topic.id}" data-type="1" title="点击取消关注">
                已关注
            </button>
        </div>
        <div class="uk-margin-small-top" th:if="${canModify}">
            <a th:href="@{'/publish/modify/'+${topic.id}}"
               class="uk-button uk-button-primary uk-text-bold uk-border-rounded topic-right-button">修改</a>
        </div>
        <div class="uk-margin-small-top" th:if="${canModify}">
            <a th:href="@{'/publish/delete/'+${topic.id}}"
               class="uk-button uk-button-primary uk-text-bold uk-border-rounded topic-right-button"
               onClick="return confirm('确定删除?');">删除</a>
        </div>
    </div>
</div>

</body>
</html>